.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav__a {
  text-decoration: none;
}
.nav__img {
  width: 230px;
  padding-left: 50px;
}
.nav__solid {
  font-size: 28pt;
  color: black;
}
.nav__solid-1 {
  font-size: 28pt;
}

.desktop {
  display: none;
}

.cursos {
  display: block;
  width: 100%;
  height: 60vh;
}
.cursos-text {
  margin-bottom: 40px;
}
.cursos__h3-c {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  margin-left: 20px;
  border-radius: 15px;
}
.cursos__container {
  justify-items: center;
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cursos__div {
  width: 130px;
  height: 130px;
  background-color: black;
  border-radius: 15px;
  position: relative;
  margin-bottom: 40px;
}
.cursos__img {
  width: 100px;
  position: absolute;
  left: 15px;
  top: -50px;
}
.cursos__h3 {
  position: absolute;
  width: 77px;
  height: 34px;
  left: 5px;
  top: 85px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.cursos__h3-1 {
  top: 75px;
  left: 10px;
}
.cursos__h3-2 {
  top: 75px;
  left: 10px;
}
.cursos__h3-3 {
  top: 83px;
  left: 10px;
}
.cursos__h3-4 {
  top: 75px;
  left: 10px;
}
.cursos__fa-solid {
  position: absolute;
  color: white;
  font-size: 13pt;
  top: 95px;
  left: 95px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .nav__a {
    text-decoration: none;
  }
  .nav__img {
    width: 270px;
    padding-left: 50px;
  }
  .nav__solid {
    font-size: 28pt;
    color: black;
  }
  .nav__solid-1 {
    font-size: 28pt;
  }
  .desktop {
    display: none;
  }
  .cursos {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .cursos-text {
    margin-bottom: 40px;
  }
  .cursos__h3-c {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 30px;
    font-size: 17pt;
    text-align: center;
    margin-left: 20px;
    border-radius: 15px;
  }
  .cursos__container {
    justify-items: center;
    margin: 0 auto;
    width: 90%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cursos__div {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 15px;
    position: relative;
    margin-bottom: 40px;
  }
  .cursos__img {
    width: 130px;
    position: absolute;
    left: 20px;
    top: -50px;
  }
  .cursos__h3 {
    position: absolute;
    width: 105px;
    height: 34px;
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #ffffff;
  }
  .cursos__h3-1 {
    top: 90px;
    left: 10px;
  }
  .cursos__h3-2 {
    top: 95px;
    left: 10px;
  }
  .cursos__h3-3 {
    top: 110px;
    left: 10px;
  }
  .cursos__h3-4 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-5 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-6 {
    top: 100px;
    left: 10px;
  }
  .cursos__fa-solid {
    position: absolute;
    color: white;
    font-size: 20pt;
    top: 130px;
    left: 130px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .nav__a-1 {
    display: none;
  }
  .nav__a {
    text-decoration: none;
  }
  .nav__img {
    width: 270px;
    padding-left: 50px;
  }
  .nav__solid {
    font-size: 28pt;
    color: black;
  }
  .nav__solid-1 {
    font-size: 28pt;
  }
  .desktop {
    display: none;
    margin: auto;
    width: 60%;
    height: 50px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .desktop__a {
    text-align: center;
    display: flex;
    padding: 15px 30px 15px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 13pt;
    font-weight: 400;
    font-style: normal;
  }
  .desktop__a:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
  }
  .cursos {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .cursos-text {
    margin-bottom: 40px;
  }
  .cursos__h3-c {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 25px;
    font-size: 17pt;
    text-align: center;
    margin-left: 30px;
    border-radius: 15px;
  }
  .cursos__container {
    justify-items: center;
    margin: 0 auto;
    width: 60%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cursos__div {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 15px;
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .cursos__img {
    width: 130px;
    position: absolute;
    left: 20px;
    top: -50px;
  }
  .cursos__h3 {
    position: absolute;
    width: 105px;
    height: 34px;
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #ffffff;
  }
  .cursos__h3-1 {
    top: 90px;
    left: 10px;
  }
  .cursos__h3-2 {
    top: 95px;
    left: 10px;
  }
  .cursos__h3-3 {
    top: 110px;
    left: 10px;
  }
  .cursos__h3-4 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-5 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-6 {
    top: 100px;
    left: 10px;
  }
  .cursos__fa-solid {
    position: absolute;
    color: white;
    font-size: 20pt;
    top: 120px;
    left: 120px;
    padding: 10px;
  }
  .cursos__fa-solid:hover {
    color: black;
    background-color: white;
    border-radius: 15px;
  }
}
@media (min-width: 1281px) {
  .nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .nav__a-1 {
    display: none;
  }
  .nav__a {
    text-decoration: none;
  }
  .nav__img {
    width: 270px;
    padding-left: 50px;
  }
  .nav__solid {
    font-size: 28pt;
    color: black;
  }
  .nav__solid-1 {
    font-size: 28pt;
  }
  .desktop {
    display: none;
    margin: auto;
    width: 60%;
    height: 50px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .desktop__a {
    text-align: center;
    display: flex;
    padding: 20px 30px 20px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 13pt;
    font-weight: 400;
    font-style: normal;
  }
  .desktop__a:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
  }
  .cursos {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .cursos-text {
    margin-bottom: 40px;
  }
  .cursos__h3-c {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 25px;
    font-size: 17pt;
    text-align: center;
    margin-left: 30px;
    border-radius: 15px;
  }
  .cursos__container {
    justify-items: center;
    margin: 0 auto;
    width: 60%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cursos__div {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 15px;
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .cursos__img {
    width: 130px;
    position: absolute;
    left: 20px;
    top: -50px;
  }
  .cursos__h3 {
    position: absolute;
    width: 105px;
    height: 34px;
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #ffffff;
  }
  .cursos__h3-1 {
    top: 90px;
    left: 10px;
  }
  .cursos__h3-2 {
    top: 105px;
    left: 10px;
  }
  .cursos__h3-3 {
    top: 110px;
    left: 10px;
  }
  .cursos__h3-4 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-5 {
    top: 100px;
    left: 10px;
  }
  .cursos__h3-6 {
    top: 100px;
    left: 10px;
  }
  .cursos__fa-solid {
    position: absolute;
    color: white;
    font-size: 20pt;
    top: 120px;
    left: 120px;
    padding: 10px;
    border-radius: 50%;
    padding: 10px;
  }
  .cursos__fa-solid:hover {
    color: black;
    background-color: white;
    border-radius: 15px;
  }
}

/*# sourceMappingURL=cursos.css.map */
